<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Desafio Back-End</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>Dados movimentações financeiras</h1>
    <div>
      <ul>
        {% for transaction in cnab %}
        <li>
          <p class="nome_loja">Nome da loja: {{ transaction.name_shop }}</p>
          <p>Dono da loja: {{ transaction.owner_shop }}</p>
          <p>Tipo: {{transaction.type}}</p>
          <p>Data: {{transaction.date}}</p>
          <p>Valor: R$ {{transaction.value}}</p>
          <p>CPF: {{transaction.cpf}}</p>
          <p>Cartão: {{transaction.card}}</p>
          <p>Hora: {{transaction.hour}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
