<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Desafio Back-End</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div>
      <h1>Dados movimentações financeiras</h1>
      <ul>
        {% for transaction in cnab %}
        <li>Tipo: {{transaction.type}}</li>
        <li>Data: {{transaction.date}}</li>
        <li>Valor: R$ {{transaction.value}}</li>
        <li>CPF: {{transaction.cpf}}</li>
        <li>Cartão: {{transaction.card}}</li>
        <li>Hora: {{transaction.hour}}</li>
        <li>Dono da loja: {{ transaction.owner_shop }}</li>
        <li>Nome da loja: {{ transaction.name_shop }}</li>
        <p>----------------------------------</p>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
