<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Desafio Back-End</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  {% load static %}

  <body>
    {% block content %} {% for message in messages %}

    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close"
        >&times;</a
      >
      <strong>Erro!</strong> {{ message }}
    </div>
    <p><a href="{% url 'upload' %}">Retornar para upload</a></p>

    {% endfor %} {% endblock %}
  </body>
</html>
